BasedOnStyle: Google
ColumnLimit: 100
PointerAlignment: Left # Attach the pointer sigil to the type rather than the identifier
DerivePointerAlignment: false # Do not adopt an already prevalent style for pointer sigil placement
ReferenceAlignment: Pointer # Align references as pointers
QualifierAlignment: Custom # Use QualifierOrder specified below
QualifierOrder: ['inline', 'static', 'constexpr', 'const', 'volatile', 'type'] # Enforce west const
IndentRequiresClause: false # Do not indent `requires` clause
